body{
    background-color: beige;
    color: black;
    display: flex;
    margin: 0;
    padding: 0;
  }
.card-body{
    background-color: bisque;
    color: dimgrey;
    border-top: 1px solid black;
    padding: 10px;
}

footer {
    background-color: aliceblue;
    color: #fff;
    text-align: center; 
    padding: 50px 0; 
}

  
  img{
    max-width: 20%;
    height: auto;
    }
    
